<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{*}SNWBL - Get All Projects</title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-gradient-to-r from-gray-500 via-white to-gray-500">
    <div>
        <%- include('partials/header.ejs') %>
        <div>
            <div  >
                <% if(session.isLoggedIn === true){ %>
                    <% if(session.role === 1) { %>
                        
                        <% for( let i = 0; i < projects.length; i++) { %>
                            <div>
                                <p class="name"> Name: <%= projects[i].name %> </p>
                                <p class="description"> Description: <%= projects[i].description %> </p>
                                <p class="difficulty"> Difficulty: <%= projects[i].difficulty %> </p>
                            </div>
                            <hr>
                        <% } %>
                        
                        <% } else { %>
                            <div>
                                <h4>403 - Access Denied</h4>
                                <h6>Admin Access Required to Create Projects</h6>
                            </div>
                    <% } %>  
                    </div>
                    <%- include('partials/footer.ejs') %>
            <% } else {%>
                <%- include('partials/accessDenied.ejs') %>
            <% } %>
        </div>
    </div>
</body>
</html>