<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{*}SNWBL - Open Projects</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/helper.js" defer></script>
</head>
<body class="bg-gradient-to-r from-gray-500 via-white to-gray-500">
    <div>
        <%- include('partials/header.ejs') %>
        <div>
            <div  >
            <% if(session.isLoggedIn === true) { %>   
                <% if(projects.length === 0){ %>
                    <h2>No Open Projects</h2>
                <% } %>
                <div id='projects'>
                    <% for( let i = 0; i < projects.length; i++) { %>
                        <div id='project'>
                            <p class="name"> Project Name: <%= projects[i].name %> </p>
                            <p class="description"> Description: <%= projects[i].description %> </p>
                            <p class="difficulty"> Difficulty: <%= projects[i].difficulty%> </p>
                            <% if(projects[i].finishedOn != null) {%>
                                <p>Status: Finished</p>
                                <a href="file/<%=projects[i].fileHash%>" download><%= projects[i].fileHash %> </a>
                            <% } else {%>
                                <p>Status: Not Finished</p>
                            <% } %>
                            <form action='uploadFiles/<%= projects[i].openID %>'>
                                <button
                                id="uploadButton"
                                class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                                >Upload?</button>
                            </form>                                
                                <p class="error"></p>
                        </div>
                        <hr>
                    <% } %>
                </div>
            </div>
            <form action="/users/logout" method="POST" id="logoutForm">
                <button
                class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                >Logout</button>
            </form>
            <form action='/users/homepage'>
                <button
                class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                >Back to homepage!</button>
            </form>
        <% }  else {%>
            <h1>You Must be logged in to view this!</h1>
            <form action='/' method="GET">
                <button
                class="bg-blue-500 hover:bg-blue-400 text-gray font-mono m-0.5 border-b-4 px-3 py-3 border-blue-700 hover:border-blue-500 rounded"
                >Go To Login Page</button>
            </form>
        <% } %>
        </div>
    </div>
</body>
</html>